.body {
  display: flex; /* Enable flexbox layout */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  margin: 0; /* Remove default margin */
  width: 100vw;
  height: 100vh;
}